.maincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(252, 238, 212);
}
.seachbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 45%;
    height:40px;
}
.search{
    width: 80%;
    border-radius: 20px;
    border: 1px solid black;
    padding: 0px 20px;
    font-size: larger;
    font-weight: 500;
    height: 100%;

}
.search-btn{
    width: 20%;
    border-radius: 20px;
    border: 1px solid black;
    padding: 0px 20px;
    font-size: larger;
    font-weight: 400;
    height: 100%;
    background: rgb(220, 193, 142);
}
.search-btn:active{
    background: rgb(209, 170, 100);
   color: white;
}
@media(max-width:1060px){
    .maincontainer{
        height:65px ;
    }
    .seachbox{
        height: 35px;
    }
    .search-btn{
        font-size: smaller;
    }
    .search{
        font-size: smaller;
    }
}
@media(max-width:850px){
    .maincontainer{
        height:65px ;
    } 
    .seachbox{
        height: 35px;
    }
    .search-btn{
        width: 100px;
    }
    .search{
        font-size: small;
        
    }
}
@media(max-width:600px){
    .maincontainer{
        height:55px ;
    }
    .seachbox{
        height: 35px;
        width: 90%;
    }
    .search-btn{
        width: 100px;
        font-size: x-small;
    }
    
     
}